body {
    background-color:white;
    background-image: url(../images/ban.jpg);
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

/* hr {
    border-style: none;
    border-top-style:dotted ;
    border-color: beige;
    border-width: 5px;
    width: 5px;
} */

.menu {
    float: right;
}
.menu ul {
    /* float: right; */
    list-style: none;
    padding-right: 40px;
    margin: 20px;
    font-family: "Cookie", cursive;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 25px;

}
.logo {
    /* float: right; */
    margin: 20px;
}
.menu ul li {
    display: inline-block;
}

.logo, .menu {
    display: inline-block;
}
.navigation {
    background-color: antiquewhite;
    /* background-image: url(../images/imgback.jpg); */
}