.back {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.back h1 {
  text-align: center;
  font-size: 6rem;
  font-family: "Cookie", cursive;
  /* background: #fff; */
  padding: 20px;
  margin: 15px;
  z-index: 1;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
